<h2>Find Device Configure By Device IP</h2>

<div *ngIf="!isLogin; else showdeviceipconfig">
  <h4>Please login.</h4>
</div>

<ng-template #showdeviceipconfig>
  <form #f="ngForm" (ngSubmit)="onSubmit()" class="form-inline" name="form"
        novalidate>
    <div class="form-group">
      <label for="ip">Enter Device IP</label>
      <div class="d-inline">
        <input #ip="ngModel" [(ngModel)]="form.ip" class="form-control" name="ip"
               placeholder="0.0.0.0" required type="text"/>
        <button class="btn btn-primary" type="submit" style="margin-left: 10px">Confirm</button>
      </div>
      <div *ngIf="f.submitted && ip.invalid">
        <div *ngIf="ip.errors.required">IP is required</div>
      </div>
      <div *ngIf="f.submitted && !isValid" class="alert alert-danger">
        IP not Valid
      </div>
    </div>
  </form>
  <hr/>
  <div *ngIf="isSubmit && !isLoadingFailed">
    <div *ngFor="let item of deviceIpOutput| keyvalue">
      <h3 style="color: blue">{{item.key}}: {{item.value}}</h3>
    </div>
  </div>
  <div *ngIf="isSubmit && isLoadingFailed">
    Loading: {{errorMessage}}
  </div>
</ng-template>
