<div class="col-xs-6 col-md-3">
  <div class="list-group">
    <a class="list-group-item" href="users">Account List</a>
    <a class="list-group-item" href="devices/discovery">Discover Device</a>
    <a class="list-group-item" href="files/upload">Upload Video</a>
    <a class="list-group-item" href="files/upload">Stream Video</a>
    <a class="list-group-item" href="devices/setup">Config Device</a>
    <a class="list-group-item" href="devices/devicelist">Device List</a>
    <a class="list-group-item" href="devices/ipconfig">Find Device Configure</a>
    <a class="list-group-item" href="devices/info">Find Device Information</a>
<!--    <a class="list-group-item" href="devices/ipconfiglist">Device Configure</a>-->
<!--    <a class="list-group-item" href="devices/ipinfor">Device IP Information</a>-->
  </div>
</div>
<!--<h4>Content from Server</h4>-->
<!--{{board}}-->
<!--{{errorMessage}}-->
