<h2>Find Device Information By Device IP</h2>

<div *ngIf="!isLogin; else showdeviceipinfor">
  <h4>Please login.</h4>
</div>

<ng-template #showdeviceipinfor>
  <form #f="ngForm" (ngSubmit)="onSubmit()" class="form-inline" name="form"
        novalidate>
    <div class="form-group">
      <label for="ip">Enter Device IP</label>
      <div class="d-inline">
        <input #ip="ngModel" [(ngModel)]="form.ip" class="form-control" name="ip"
               placeholder="0.0.0.0" required type="text"/>
        <button class="btn btn-primary" type="submit" style="margin-left: 10px" >Confirm</button>
      </div>
      <div *ngIf="f.submitted && ip.invalid">
        <div *ngIf="ip.errors.required">IP is required</div>
      </div>
      <div *ngIf="f.submitted && !isValid" class="alert alert-danger">
        IP not Valid
      </div>
    </div>
    <hr/>
    <div *ngIf="f.submitted && !isLoadingFailed">
      <div *ngFor="let item of deviceIpOutput| keyvalue">
        <h3 style="color: blue">{{item.key}}: {{item.value}}</h3>
      </div>
<!--      <table class="table table-striped table-bordered" >-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Type</th>-->
<!--          <th>Current Version</th>-->
<!--          <th>Emsfp Version</th>-->
<!--          <th>Hw Version</th>-->
<!--          <th>Asic Version</th>-->
<!--          <th>Sw Version</th>-->
<!--          <th>Asic Slot 00</th>-->
<!--          <th>Asic Slot 01</th>-->
<!--          <th>Asic Slot 02</th>-->
<!--          <th>Asic Slot 03</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let info of deviceInfo | async">-->
<!--          <td>{{info.type}}</td>-->
<!--          <td>{{info.current_version}}</td>-->
<!--          <td>{{info.emsfp_version}}</td>-->
<!--          <td>{{info.hw_version}}</td>-->
<!--          <td>{{info.asic_version}}</td>-->
<!--          <td>{{info.sw_shal}}</td>-->
<!--          <td>{{info.asic_slot_00}}</td>-->
<!--          <td>{{info.asic_slot_01}}</td>-->
<!--          <td>{{info.asic_slot_02}}</td>-->
<!--          <td>{{info.asic_slot_03}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
    </div>
    <div *ngIf="f.submitted && isLoadingFailed">
      Loading: {{errorMessage}}
    </div>
  </form>
</ng-template>
